version: "3.9"
services:
  redis:
    image: redis:alpine
    container_name: redis
    networks:
      - backend-network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
  
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend-network
    healthcheck:
      test: ["CMD", "pg-isready", "-U", "postgres"]
      interval: 5s
      timeout: 3s
      retries: 5
  
volumes:
  postgres_data:

networks:
  backend-network:
  frontend-network: